@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

.loader {
  color: darkgoldenrod;
  position: absolute;
  top: 62%;
  left: 65%;
  width: 400px;
  height: 400px;
  transform: translate(-50%, -50%);
}
.calpage {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin-left: 15vw;
  height: 100vh;
}
.toppart {
  height: 100vh;
  width: 85vw;
  display: grid;
  grid-template-columns: 14vw 14vw 14vw 14vw 14vw 14vw;
  grid-column-gap: 0.2vh;
  grid-row-gap: 0.5vh;
  padding-bottom: 15vh;
}
.bottompart {
  height: 9vh;
  width: 84.5vw;
  background-color: darkgoldenrod;
  color: white;
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 91vh;
}
.hoverOnCursor:hover {
  cursor: pointer;
}

.sider {
  position: relative;
  left: 17.5%;
}

.commonbox {
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  height: 33vh;
  width: 13vw;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  padding-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
.commonbox::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 25%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.commonbox:hover {
  transform: scale(1.1);
}

.taskbox {
  background-image: linear-gradient(-45deg, #ffec61, #f321d7);
  margin-left: 1rem;
  margin-right: 1rem;
}
.taskbox .buthover {
  background-image: linear-gradient(45deg, #ffec61, #f321d7);
}

.popupBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.mediumtaskbox {
  background-image: linear-gradient(-45deg, #f403d1, #64b5f6);
  margin-left: 1rem;
  margin-right: 1rem;
}
.mediumtaskbox .buthover {
  background-image: linear-gradient(45deg, #f403d1, #64b5f6);
}
.lowtaskbox {
  background-image: linear-gradient(-45deg, #24ff72, #9a4eff);
  margin-left: 1rem;
  margin-right: 1rem;
}
.lowtaskbox .buthover {
  background-image: linear-gradient(45deg, #24ff72, #9a4eff);
}

.newtaskbutton {
  border-radius: 11px;
  background-color: bisque;
  color: black;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 7vh;
  font-weight: bolder;
  font-size: 2.3vh;
}

.prioritydesc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  font-size: 2vh;
  cursor: pointer;
}
.redbox {
  background-image: linear-gradient(-45deg, #ffec61, #f321d7);
  height: 3vh;
  width: 3vh;
  margin-right: 0.5vw;
}
.yellowbox {
  background-image: linear-gradient(-45deg, #24ff72, #9a4eff);
  height: 3vh;
  width: 3vh;
  margin-right: 0.5vw;
}
.violetbox {
  background-image: linear-gradient(-45deg, #f403d1, #64b5f6);
  height: 3vh;
  width: 3vh;
  margin-right: 0.5vw;
}
.newtaskbutton:hover {
  background-color: rgb(236, 193, 140);
  text-decoration: none;
  cursor: pointer;
}

.New-Task {
  position: absolute;
  width: 45vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-task-div {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  padding: 0%;
  position: relative;
}

.new-task-div p {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0;
  margin-top: 0.5rem;
}
.new-task-div hr {
  border: none;
  border-bottom: 1px solid rgb(208, 208, 208);
  height: 1px;
  width: 113%;
  left: -2.4rem;
  position: relative;
}

.forhover :hover {
  color: white;
}
.toppar2 {
  margin: 0%;
  padding: 0%;
}
.topbar {
  margin: 0%;
}
#date {
  filter: invert(1);
  background-color: #000;
  color: #000;
  width: 68%;
  margin-bottom: 1rem;
}
input[type="date"]:invalid::-webkit-datetime-edit {
  color: rgb(56, 56, 56);
}

.formarea {
  padding: 0vw 0vw 0vw 1vw;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
}

.new-task-div .formarea input,
.new-task-div .formarea select {
  border-bottom: none;
  font-size: 1rem;
}

.new-task-div .formarea select {
  border: none;
  outline: none;
  padding-left: 0.8rem;
  width: 70%;
}

.new-task-div .formarea select:invalid {
  color: rgb(209, 209, 209);
}

.buthover {
  color: black;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.1rem 1rem;
  border-radius: 50rem;
  color: white;
}
.buthover:hover {
  color: black;
}

.Sort-Tasks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
}

.select-option {
  width: auto;
  height: 5vh;
  font-size: 2.2vh;
  margin-top: 2vh;
}
.select-option:focus {
  outline: none;
  border: none;
}

.sorted-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.task-object {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-elem {
  font-size: 2vh;
  text-align: center;
  width: 25%;
}
.task-elem-heading {
  font-size: 2.5vh;
  text-align: center;
  width: 25%;
}

@media screen and (max-width: 1000px) {
  .Sort-Tasks {
    width: 55vw;
  }
  .New-Task {
    width: 55vw;
  }
}

@media screen and (max-width: 800px) {
  .Sort-Tasks {
    width: 65vw;
  }
  .New-Task {
    width: 65vw;
  }
}

@media screen and (max-width: 700px) {
  .newtaskbutton {
    font-size: 2vh;
    margin-left: 1vw;
    margin-right: 2vw;
  }
  .Sort-Tasks {
    width: 69vw;
  }
  .New-Task {
    width: 69vw;
  }
}
option {
  color: #000;
}
