@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap");

.fhover:hover {
  color: aqua;
}
.btn-entry {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-diary {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

.add-diary p {
  font-size: 1.3rem;
  font-weight: 100;
  margin: 0;
}

.add-diary hr {
  border: none;
  border-bottom: 1px solid rgb(208, 208, 208);
  height: 1px;
  width: 113%;
  left: -2.4rem;
  position: relative;
}
